@tailwind base;
@tailwind components;
@tailwind utilities;

.hero{
  height: 100vh;

}


.skill{
  max-width: 60px;
    width: 100%;
    margin: auto;
}
.over{
	position: absolute;
    height: 52%;
    width: 41%;
    top: 25%;
	opacity: 1;
    background: linear-gradient(158deg, #5b2488, transparent);
	border-radius: 25% 75% 75% 0% / 58% 25% 68% 25%;
    filter: blur(94px);
    left: 25%;
}
.overlay{
	position: absolute;
    height: 52%;
    width: 41%;
    top: 25%;
	opacity: 1;
  right: 0;
    background: linear-gradient(158deg, #5b2488, transparent);
	border-radius: 25% 75% 75% 0% / 58% 25% 68% 25%;
    filter: blur(94px);
}
body::-webkit-scrollbar{
  display: block;
  width:8px;
  background-color:#3a0a54;
}
body::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 50px;
  
}

.bottom:hover{
  border-bottom: 2px solid #fff;
  transition: ease-in .2s;
}


#myBtn{
  z-index: 1;
}